In [2]:
import plotly.plotly as py
import plotly.graph_objs as go
import pandas as pd

In [3]:
countries = {'PT': 78.81, 'SI': 65.53, 'LV': 61.97, 'EE': 58.3, 'BG': 56.84, 'CY': 56.56, 'FR': 55.12, 'LT': 52.56, 'HR': 47.97, 'LU': 47.69, 'FI': 44.22, 'DE': 39.46, 'NL': 37.66, 'AT': 31.55, 'MT': 31.3, 'IT': 30.51, 'IE': 28.99, 'SK': 26.95, 'RO': 25.54, 'GB': 19.51, 'PL': 18.85, 'ES': 16.86, 'GR': 16.57, 'BE': 16.26, 'SE': 16.08, 'HU': 14.95, 'CZ': 8.83, 'DK': 4.36, 'US': 4.19}
df_spend = pd.DataFrame(list(countries.items(),), columns = ['Countries', 'foreign_spend'])
dfcountry = pd.read_excel('country_codes.xlsx') 
df = df_spend.merge(dfcountry,how='inner',left_on=['Countries'],right_on=['Alpha-3 code'])
df = df[df.Countries != 'US']

   Countries  FB_spend  Country    Alpha-2 code Alpha-3 code Numeric code
0         PT     78.81      NaN        Portugal           PT          PRT
1         SI     65.53      NaN        Slovenia           SI          SVN
2         LV     61.97      NaN          Latvia           LV          LVA
3         EE     58.30      NaN         Estonia           EE          EST
4         BG     56.84      NaN        Bulgaria           BG          BGR
5         CY     56.56      NaN          Cyprus           CY          CYP
6         FR     55.12      NaN          France           FR          FRA
7         LT     52.56      NaN       Lithuania           LT          LTU
8         HR     47.97      NaN         Croatia           HR          HRV
9         LU     47.69      NaN      Luxembourg           LU          LUX
10        FI     44.22      NaN         Finland           FI          FIN
11        DE     39.46      NaN         Germany           DE          DEU
12        NL     37.66      NaN     Netherlands           NL          NLD
13        AT     31.55      NaN         Austria           AT          AUT
14        MT     31.30      NaN           Malta           MT          MLT
15        IT     30.51      NaN           Italy           IT          ITA
16        IE     28.99      NaN         Ireland           IE          IRL
17        SK     26.95      NaN        Slovakia           SK          SVK
18        RO     25.54      NaN         Romania           RO          ROU
19        GB     19.51      NaN  United Kingdom           GB          GBR
20        PL     18.85      NaN          Poland           PL          POL
21        ES     16.86      NaN           Spain           ES          ESP
22        GR     16.57      NaN          Greece           GR          GRC
23        BE     16.26      NaN         Belgium           BE          BEL
24        SE     16.08      NaN          Sweden           SE          SWE
25        HU     14.95      NaN         Hungary           HU          HUN
26        CZ      8.83      NaN  Czech Republic           CZ          CZE
27        DK      4.36      NaN         Denmark           DK          DNK

In [5]:
scl = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,218,235)'],
    [0.4, 'rgb(188,189,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,107,177)'],
    [1.0, 'rgb(84,39,143)']
]

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = df['Numeric code'],
    z = df['FB_spend'].astype(float),
    text = df['Numeric code'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Foreign adspend")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = 'How much of the adspend is foreign'
    ),
    margin = dict(l = 50, r = 50, t = 50, b = 50),
    geo = go.layout.Geo(
        scope = 'europe',
        projection = go.layout.geo.Projection(type = 'natural earth'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'Foreign spend')